body {
}

ul {
  list-style-type: none;
  padding: 0;
}

.album {
  display: flex;
  background-color: wheat;
  border: 2px solid black;
  border-radius: 10px;
  padding: 0.5em;
}

.album-detail {
  color: darkolivegreen;
}

#artist {
  order: 1;
  text-transform: uppercase;
}

#title {
  order: 2;
  font-style: italic;
}

#rating {
  order: 3;
  color: goldenrod;
}
