body {
  background-color: #e6e6e6;
  color: #272727;
  font-family: "Staatliches", cursive;
}

ul {
  list-style-type: none;
  padding: 0;
}

hr {
  margin: 1rem 0;
}

#form-album-entry {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

#form-buttons {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 100%;
  margin-top: 1rem;
}

.form-item,
#form-buttons > input {
  margin-right: 1rem;
}

.input-long {
  width: 16rem;
}

.input-short {
  width: 4rem;
}

#form-album-list {
  display: flex;
  flex-direction: column;
  font-family: "Lora", serif;
}

#album-list > li {
  width: 50%;
  margin-bottom: 1rem;
}

.album {
  display: flex;
  flex-wrap: wrap;
  background-color: #fafafa;
  border: 1px solid black;
  border-radius: 10px;
  padding: 0.5em;
}

.album-detail {
  color: #aa1155;
}

#artist {
  order: 1;
  flex-basis: 80%;
  font-weight: bold;
  text-transform: uppercase;
}

#genre {
  order: 2;
  flex-basis: 20%;
  font-variant: small-caps;
  font-weight: bold;
  color: #00a676;
}

#title {
  order: 3;
  font-style: italic;
}

#year {
  order: 4;
}

#year::before {
  content: " (";
  white-space: pre;
}

#year::after {
  content: ")";
}

#rating {
  order: 5;
  flex-basis: 100%;
  color: #f3a712;
}
