body {
  background-color: #e6e6e6;
  color: #272727;
  font-family: "Staatliches", cursive;
}

ul {
  list-style-type: none;
  padding: 0;
}

#album-list {
}

#album-list > li {
  width: 50%;
}

.album {
  display: flex;
  flex-wrap: wrap;
  background-color: wheat;
  border: 2px solid black;
  border-radius: 10px;
  padding: 0.5em;
}

.album-detail {
  color: darkolivegreen;
}

#artist {
  order: 1;
  flex-basis: 100%;
  text-transform: uppercase;
}

#title {
  order: 2;
  font-style: italic;
}

#year {
  order: 3;
}

#year::before {
  content: "\0020(";
}

#year::after {
  content: ")";
}

#rating {
  order: 4;
  color: goldenrod;
}
